spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6541/ewm
    username: ewm
    password: ewm

logging:
  level:
    org:
      springframework:
        orm:
          jpa: INFO
        web: DEBUG
        transaction: INFO
        transaction.interceptor: TRACE
        orm.jpa.JpaTransactionManager: DEBUG
      slf4j: DEBUG
      hibernate:
        SQL: DEBUG
        type.descriptor.sql.BasicBined: TRACE
    ru.practicum: DEBUG
    com.netflix.discovery: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG
    org.springframework.cloud.client.discovery: DEBUG