spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        #         categories
#          1. Маршруты админа (CategoryAdminController)
        - id: admin_categories_route
          uri: lb://event-service
          predicates:
            - Path=/admin/categories/**

#          2. Публичные маршруты (CategoryPublicController)
        - id: public_categories_route
          uri: lb://event-service
          predicates:
            - Path=/categories/**


        #         compilations
#          1. Маршруты админа (CompilationAdminController)
        - id: admin_compilation_route
          uri: lb://event-service
          predicates:
            - Path=/admin/compilations/**

#          2. Публичные маршруты (CompilationPublicController)
        - id: public_compilation_route
          uri: lb://event-service
          predicates:
            - Path=/compilations/**


        #         comments
        # 1. Маршруты пользователя (UserCommentsController)
        - id: user_comment_event_route
          uri: lb://comment-service
          predicates:
            - Path=/users/{userId}/events/{eventId}/comments/**

        - id: user_comment_all_user_comments_route
          uri: lb://comment-service
          predicates:
            - Path=/users/{userId}/comments/**

        # 2. Публичные маршруты (PublicCommentsController)
        - id: public_comment_event_route
          uri: lb://comment-service
          predicates:
            - Path=/events/{eventId}/comments/**

        # 3. Маршруты админа (AdminCommentsController)
        - id: admin_comment_event_route
          uri: lb://comment-service
          predicates:
            - Path=/admin/comments/**


        #         events
        # 1. Маршруты пользователя (UserEventsController)
        - id: user_event_route
          uri: lb://event-service
          predicates:
            - Path=/users/{userId}/events/**

        # 2. Маршруты администратора (AdminEventsController)
        - id: admin_event_route
          uri: lb://event-service
          predicates:
            - Path=/admin/events/**

        # 3. Маршруты публичные (PublicEventsController)
        - id: public_event_route
          uri: lb://event-service
          predicates:
            - Path=/events/**


        #         requests
        - id: user_request_route
          uri: lb://request-service
          predicates:
            - Path=/users/{userId}/requests/**

        - id: eventService_request_route
          uri: lb://request-service
          predicates:
            - Path=/requests/**


        #         users
        # 1. Маршруты администратора (UserAdminController)
        - id: admin_user_route_delete
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

server:
  port: 8080

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG
    org.slf4j: DEBUG
    ru.practicum: DEBUG
    com.netflix.discovery: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG
    org.springframework.cloud.client.discovery: DEBUG