spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6542/emw-stats
    username: root
    password: root

logging:
  level:
    org:
      springframework:
        orm:
          jpa: INFO
        web: DEBUG
        transaction: INFO
        transaction.interceptor: TRACE
        orm.jpa.JpaTransactionManager: DEBUG
      slf4j: DEBUG
      hibernate:
        SQL: DEBUG
        type.descriptor.sql.BasicBined: TRACE
    ru.practicum: DEBUG

#client.url: http://localhost:9090