spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery.locator.enabled: true
      lower-case-service-id: true
      routes:
        #         categories

#          1. Маршруты админа (CategoryAdminController)
        - id: admin_categories_route
          uri: lb:main-service
          predicates:
            - Path=/admin/categories/**
            - Method=POST,DELETE,PATCH

#          2. Публичные маршруты (CategoryPublicController)
        - id: public_categories_route
          uri: lb:main-service
          predicates:
            - Path=/categories/**
            - Method=GET


        #         compilations

#          1. Маршруты админа (CompilationAdminController)
        - id: admin_compilation_route
          uri: lb:main-service
          predicates:
            - Path=/admin/compilations/**
            - Method=POST,DELETE,PATCH

#          2. Публичные маршруты (CompilationPublicController)
        - id: public_compilation_route
          uri: lb:main-service
          predicates:
            - Path=/compilations/**
            - Method=GET


        #         comments

        # 1. Маршруты пользователя (UserCommentsController)
        - id: user_comment_event_route
          uri: lb:main-service
          predicates:
            - Path=/users/{userId}/events/{eventId}/comments/**
            - Method=POST,DELETE,PATCH,GET

        - id: user_comment_all_user_comments_route
          uri: lb:main-service
          predicates:
            - Path=/users/{userId}/comments/**
            - Method=GET

        # 2. Публичные маршруты (PublicCommentsController)
        - id: public_comment_event_route
          uri: lb:main-service
          predicates:
            - Path=/events/{eventId}/comments/**
            - Method=GET

        # 3. Маршруты админа (AdminCommentsController)
        - id: admin_comment_event_route
          uri: lb:main-service
          predicates:
            - Path=/admin/comments/**
            - Method=DELETE,PATCH,GET


        #         events

        # 1. Маршруты пользователя (UserEventsController)
        - id: user_event_route
          uri: lb:main-service
          predicates:
            - Path=/users/{userId}/events/**
            - Method=POST,PATCH,GET

        # 2. Маршруты администратора (AdminEventsController)
        - id: admin_event_route
          uri: lb:main-service
          predicates:
            - Path=/admin/events/**
            - Method=PATCH,GET

        # 3. Маршруты публичные (PublicEventsController)
        - id: public_event_route
          uri: lb:main-service
          predicates:
            - Path=/events/**
            - Method=GET


        #         requests

        - id: user_request_route
          uri: lb:main-service
          predicates:
            - Path=/users/{userId}/requests/**
            - Method=POST,PATCH,GET


        #         users

        # 1. Маршруты администратора (UserAdminController)
        - id: admin_user_route_delete
          uri: lb:main-service
          predicates:
            - Path=/admin/users/**
            - Method=POST,DELETE,GET

server:
  port: 8080

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG
    org.slf4j: DEBUG
    ru.practicum: DEBUG